main {
    background-color: #E5E5E5;
}

.shoe-title-1 {
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    color: #3A3A3A;
}

.shoe-title-2 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    color: #898989;
}