.table-title-1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    color: #313131;
}

.table-title-2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #313131;
}

.table-title-3 {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #313131;
    background: #FBFBFB;
    border: 0.25px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 20px;
    width: fit-content;
    padding: 5px 10px;
}

@media only screen and (max-width: 768px) {
    .hide {
        display: none;
    }
}
